.main-content__video{
    width: 70%;
    margin: auto;
    padding: auto;
    height: 300px;

}

.main-content{ 
    display: grid;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 100%;
    min-width: 200px;
    grid-template-rows: auto auto auto auto;
    gap: 3rem; 
    background-color: rgb(248, 247, 247);
    padding-bottom: 0px;
}
.main-content__results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-content__title,.heading,.contact-info {
    margin: auto;
    margin-bottom: 0;
    font-weight: 400;
}
.main-content__image{ 
    width: 70%;
    margin: auto;
}