header{
    display: flex;
    width: 90%;
    align-items: center;
    padding:3rem 1rem;
    justify-content: space-around;
    gap: 1rem;
    margin: auto; 
    margin-top: 0%;
    padding-top: 10px;

}
nav{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
header nav a{
    text-decoration: none;
    color: green;
}

.footer{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    padding:3rem 1rem;
    justify-content: space-around;
    box-shadow: 6px 6px 10px rgba(111, 111, 111,0.6),-6px -6px 10px rgba(111, 111, 111,0.6);
    background-color: var(--secondaryColor);
    gap: 0px;
    margin: auto;
    color: var(--primaryColor);
    height: 0px; 
}
.footer__socials{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 0;
}

.footer__socials a img{
    width: 2rem;
    margin-left: 1rem;
}  
.footer p{
    margin: 0 0 0 0;
    font-size: small;
}
.error{
    color: red;
    font-size: 1.1rem;
    margin-bottom: -1rem;
    padding: 10px;
}
.home{
    text-decoration: underline;
}